@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/simplifica.ttf');
}

/* VARIABLES */
$impFont: 'EB Garamond', serif;
$normalFont: 'Raleway', sans-serif;
$navFont: 'Cormorant', sans-serif;
$mistyrose: #FB727B;
$white: #FCF6F5;
$black: #141414;
$green: #C9F9C2;
$darkGreen: #1D9487;
$blue: #0D70D5;
$skyBlue: #80C8EE;
$bgBlue: #0062B3;
$gold: #F9D41C;
$tablet: 1061px;
$mobile: 580px;

/* GLOBAL */
a{
    color: $black;
    text-decoration: none;
}
p, li{font-size: 20px; line-height: 2;}

h3,h4,h5{
    color: $blue;
    font-weight: 800;
}
h3{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 2.1rem;
}
h4 {
    font-size: 26px;
    margin: 25px 0; 
}

h5{ font-size: 24px}
h6{ font-size: 22px;}

.gilm-list {
    li{margin-top: 20px}
    i{margin-right: 15px; color: $blue}
}

#gilman-content {
    display: flex;

    #wrapper-content-yes{
        flex: 1; 

        @media screen and (min-width: $tablet) { 
            margin-right: 37px;
        }
    }
    aside{
        max-width: 288px;
        a{display: block}
    }
    section {
        border-bottom: 2px solid $black; 
        padding-bottom: 60px;
    }
}


/* CHANGED VARIABLES */
.fixed-nav {
    background-color: #000a66;
}

/* NEW VARIABLES */
// HEADER
#program-header {
    padding: 50px 0 0;
    background-image: url(../images/lights.jpg);
    overflow: hidden; 
    color: $white;
    background-size: cover;
    
    a{color: $white}
    .wrapper {
        display: flex;
        justify-content: space-between;
        margin: 90px auto;
    }

    main p, main a {margin-top: 60px}
    main a{
        display: inline-block;
        background-color: $gold; 
        padding: 10px 15px;
        color: $bgBlue;
        font-family: $navFont;
        font-weight: bold;
    }
    h1{
        font-family: $navFont;
        color: $gold;
        font-weight: 700;
        font-style: italic;
        font-size: 2rem;
    }

    aside {

        .gil-selected {
            background-color: $white;
            color: $bgBlue;

            hr{background-color: $blue}
        }
        a{
            position: relative;
            display: flex;
            align-items: center;
            padding: 9px 17.5px;
            width: 299px;
            margin-bottom: 14px;

            span{margin: auto}

            hr{
                position: absolute;
                display: block;
                margin: 0;
                right: 17.5px;
                width: 34px;
                border-width: 1px;
                background-color: $white;
            }
        }
    }
}

// DISCLAIMER
#disclaimer {
    text-align: center;
    font-size: 15px;
    padding: 24px 0;
}

//ASIDE
#content-aside {
    color: $black;
    display: none;

    @media screen and (min-width: $tablet) { 
        display: block;
    }

    a {
        padding: 20px;
        border-top: 1px solid $black;

        i{
            margin-right: 10px;
            color: $blue;
        }
    }
}

// VIDEO
#video {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;

    @media screen and (min-width: $tablet) { 
        flex-direction: row;
    }

    video { 
        width: 100%;

        @media screen and (min-width: $tablet) { 
            width: 444px;
        }
    }

    p {
        max-width: 450px;
        padding: 53px 34px;
        border: 1px solid $gold;
        color: $bgBlue;
        font-size: 23px;
        font-weight: 100;
        margin-bottom: 40px;

        @media screen and (min-width: $tablet) { 
            margin-bottom: 0;
        }
    }
}

// ELIGIBILITY

// SUBMISSION
#submission {
    
    .container {
        background-color: $blue;
        overflow: hidden;
        padding: 25px 20px;
        color: $white;

        @media screen and (min-width: $tablet) { 
            padding: 50px 55px;
        }

        h3, h4{color: $white;}
        h3{margin-top: 0}
        h4{
            font-family: $impFont;
            background-color: $skyBlue;
            text-transform: uppercase;
            padding: 8px 22px;
            margin: 0;
            cursor: pointer;

            i{margin-right: 15px;}
        }
        h5{
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2px;

            span {
                color: $black;
                text-transform: none;
                margin-left: 15px;
            }
        }
            
        .submission-info {
            background-color: $white;
            padding: 22px;
            display: none;

            h5:nth-child(1){margin-bottom: 20px;}
        }
    }
    
    #tips {
        margin-top: 20px;
        color: $black;
        background-color: $white;
        padding: 22px;

        h4{
            background: none; 
            color: $black;
            padding: 0;
            cursor: auto;
            margin-bottom: 12px;
        }

        li {
            font-size: 18px;
            list-style: inside;
        }
    }
}

// LINKS
#links {
    border-bottom: none!important;

    a {
        display: block; 
        margin-bottom: 20px;
        text-decoration-line: revert;
        text-decoration-style: double;
        text-decoration-color: $blue;
    }
    a:nth-last-child(1){margin-bottom: 0}
}