@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/SIMPLIFICA\ Typeface.ttf');
}
/* VARIABLES */
$impFont: 'EB Garamond', serif;
$normalFont: 'Raleway', sans-serif;
$navFont: 'Cormorant', sans-serif;
$mistyrose: #FB727B;
$white: #FCF6F5;
$black: #141414;
$green: #C9F9C2;
$darkGreen: #1D9487;
$tablet: 1061px;
$mobile: 580px;

/* GLOBAL */
*{box-sizing: border-box}
::selection{
    background-color: rgb(127, 181, 235);
    color: $white;
}
body, html{margin: 0; padding: 0;}
body{font-family: $normalFont; font-size: 20px; background-color: $white;}
h1, h2, h3, h4, h5, h6{font-family: $impFont;}
h3 {
    font-weight: 800;
    font-size: 1.6rem;
}
p{line-height: 39px; font-size: 17px;}
.overlay {
    position: absolute!important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2!important;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto 109px;
    padding: 0 15px;
    overflow: hidden;
}

hr {
    width: 169px;
    border: solid 2px;
    margin: 14.5px 0;
}

.line {
    display: block;
    max-width: 165px;
    width: 100%;
    height: 2px;
    background-color: $white;

    @media screen and (max-width: $tablet) { 
        display: none;
    }
}

.link-button {
    display: inline-block;
    text-decoration: none;
    color: $black;
    padding: 12px 37px;
    border: 2px solid $black;
}

.slider {
    display: flex;
    position: relative;
    overflow: hidden;

    .images {
        display: flex;
        width: 100%;
        max-height: 350px;
        background-position: center;
        background-size: cover;
    }

    .arrows {
        display: flex;
        align-self: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;

        .button {
            color: $black;
            padding: 15px 19px;
            background-color: $white;
            cursor: pointer;
        }
    }
}

.center{text-align: center;} // in case some elements don't center

/* STYLING */
// Nav
.fixed-nav {
    position: fixed; 
    width: 100%;
    padding: 0 10px;
    background-color: $mistyrose;
    z-index: 3;

    @media screen and (max-width: $mobile) {
        padding: 0;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: $white;

    @media screen and (max-width: $mobile) {
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-rows: auto auto;
        padding: 5px 10px;
    }

    h2 {
        font-family: $impFont;
        margin-left: 16px;
        
        @media screen and (max-width: $mobile) {     
            margin: 10px 0;
            font-size: 25px;
            grid-column: 2 / 3;
        }
    }

    ul.navOn{ display: block; }

    ul {
        display: none;
        grid-row: 2 / 3;
        grid-column: 1 / 4;

        @media screen and (min-width: $mobile) {     
            display: flex!important;
        }

        li{
            margin-right: 5px;
            font-family: $navFont;
            font-weight: 400;
            line-height: normal;

            @media screen and (max-width: $mobile) {
                margin-right: 0;
                text-align: center;
            }

            a{
                display: block;
                color: $white;
                text-decoration: none;
                padding: 15px 16px;
            }
        }

        li:hover {
            background-color: $white;

            a{color: $mistyrose}
        }
    }

    #nav-button {
        display: none;
        padding: 10px;
        cursor: pointer;

        i{
            widows: 17.5px;
        }

        @media screen and (max-width: $mobile) {
            display: block;
        }
    }
}

// Header
#index-header {
    background-color: $mistyrose;
    padding-top: 50px;

    #titleBanner {
        margin: 50px auto;
        max-width: 750px;
        position: relative;
        color: $white;
        text-align: center;

        p{font-family: $impFont; font-size: 21px;}

        h1 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 3.5rem;
            color: $white;
            text-align: center;

            @media screen and (max-width: $mobile) {
                font-size: 3rem;
            }
        }
    }

    .wrapper{
        position: relative;
        padding: 0;

        *{z-index: 1;}

        .overlay{
            background: rgba(0,0,0,0.25);
            display: flex;
            justify-content: center;
            align-items: center;
            
            h2 {
                color: $white;
                font-size: 3rem;
                margin: 0 5px;

                @media screen and (max-width: $mobile) {
                    font-size: 2.5rem;
                }                
            }
        }
        .image{
            width: 100%;
            height: 290px;
            background-image: url('../images/header-banner.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    #imageBanner{position: relative; padding: 0 10px}
    #imageBanner:before{
        content: '';
        display: block;
        width: 100%;
        height: 50%;
        background-color: $white;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 0;
    }
}

// Main
main {
    hr{border-color: #85DDD4}
}

// Gilman
#gilman .wrapper {
    display: grid;
    grid-template-columns: auto minmax(160px, 640px);

    @media screen and (max-width: $tablet) {     
        display: block;
    }

    hr{border-color: $mistyrose}
    article{
        margin-right: 28px;

        @media screen and (max-width: $tablet) {  
            margin-right: 0;
            margin-bottom: 30px;
        }

        a{margin-top: 50px;}
    }

    #homepage {
        flex-grow: 100;

        @media screen and (max-width: $tablet) {     
            height: 13em;
        }

        .button:nth-child(1) {background-color: $white;}
        .button:nth-child(2) {background-color: $mistyrose; }
    }
}

// Posts
#posts{background-color: $green;}
#posts .wrapper {

    h3{
        text-align: center;
        margin: 61px 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card {
            width: 50%;
            max-width: 328px;
            min-width: 300px;

            @media screen and (max-width: $tablet) { 
                display: grid;
                grid-template-rows: repeat(3, auto);

                *{margin: 0 0 15px!important;}
            }            

            h6 {
                display: inline-block;
                padding: 10px 36px;
                color: $white;
                margin: 27px 0;
                text-shadow: 1px 1px 0 rgba(20,20,20,.4);
                background-color: $darkGreen;
                font-weight: bold;

                @media screen and (max-width: $tablet) { 
                    grid-row: 1 / 2;
                    width: max-content;
                }
            }

            h4 { 
                font-weight: bold;
                font-size: 22px;

                @media screen and (max-width: $tablet) { 
                    grid-row: 2 / 3;
                }
            }
            
            .post-image {
                height: 224px;
                background-position: center;
                background-size: cover;
            }
        }

        .card:nth-child(1) .post-image {background-image: url('../images/japan-1.jpg');}
        .card:nth-child(2) .post-image {background-image: url('../images/japan-1.jpg');}
    }

    .link-button {
        font-family: $impFont;
        font-weight: bold;
        margin: 61px auto;
        color: $black; 
        background-color: $white;
        border: none;
        box-shadow: 0 3px 6px rgba(26,26,26,.35);
    }
}

// Student Testimonials
#testimonials {
    display: none; // for now
    position: relative;
    color: $white;

    .overlay{background-color: rgba(0,0,0,0.5); z-index: -1!important;}
    
    h3{
        text-align: center;
        margin: 66px 0;
    }
}

// Thank Banner
#thanks { 
    .wrapper {
        text-align: center;
        

        h3{margin-bottom: 60px}
        .th-img {
            display: flex;
            justify-content: space-around;

            @media screen and (max-width: $mobile) { 
                display: block;
            }

            img {
                height: 100px;

                @media screen and (max-width: $mobile) { 
                    width: 50vw;
                    height: auto;
                    margin-bottom: 20px;
                }
            }

            div img { margin-bottom: 0!important; }
        }
    }
}

// Footer
footer{ 
    background-color: $black;
    text-align: center;
    color: $white;
    padding: 44px;

    h6 {
        font-family: $impFont;
    }
    
    a{
        color: $white;
    }
}

/*
@media screen and (max-width: $tablet) { 
    
}
*/