@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/SIMPLIFICA\ Typeface.ttf');
}
/* VARIABLES */
$impFont: 'EB Garamond', serif;
$normalFont: 'Raleway', sans-serif;

/* GLOBAL */
*{box-sizing: border-box}
body, html{margin: 0; padding: 0;}
body{font-family: $normalFont; font-size: 20px;}
h1, h2, h3, h4, h5, h6{font-family: $impFont;}
p{line-height: 39px}

.wrapper{
    display: grid;
    max-width: 1800px;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: minmax(150px, 300px) auto minmax(150px, 300px);

    .adv{
        width: 300px; 
        height: auto;
        min-height: 150px;
        background-color: grey;
    }
}

.banner{
    position: relative;
    height: 23em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(49, 6, 46, .28);
}

.impTitle{font-size: 35px; font-weight: 700; margin-bottom: 1em;}
article{margin: 0 30px;}

/* STYLES */
// header
header{
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-image: url('../images/japan-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 15px;

    .middle-section{
        display: grid;
        grid-template-columns: minmax(50px ,168px) auto minmax(50px ,168px);
        grid-template-rows: auto;
        flex: 1;
        align-self: center;
        align-items: center;
        color: white;
        z-index: 1;

        h2, h3{font-size: 19px;}

        .content {

            h1{
                font-size: 50px;
                letter-spacing: 8px;
                text-transform: uppercase;
                position: relative;
            }
    
            h3{
                text-align: right;
            }
        }
        
        hr {
            width: 90%;
            height: 3px;
            background-color: #fff;
            border: none;
        }
    }

    .header-icons{
        text-align: center;
        z-index: 1;

        img{height: 22px; margin-left: 17px;}
    }
}

// nav
#top-nav{
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
    box-shadow: 0 0 6px rgba(71, 63, 68, 0.86);
    margin-bottom: 15px;
    font-size: 25px;

    ul{
        display: flex;

        li{
            margin-right: 25px;

            a{
                display: block;
                padding: 5px 12px;
                text-decoration: none;
                color: black;
                font-family: $impFont;
            }
        }
    }

    img{
        height: 31px;
    }
}

// intro
#intro {
    display: flex;
    margin: 0 30px;

    #main-profile{
        max-height: 250px;
        margin: 0 15px 15px 0;
        border-radius: 50%;
    }
}

// japan intro
.japan-banner{
    background-image: url('../images/kyoto_japan.jpg');

    .overlay{background-color: rgba(75, 45, 74, 0.59);}

    .japan-content{
        z-index: 1;
        display: flex;

        .japan-card{
            text-align: center;
            
            img{
                width: 85px;
            }
            h4{
                font-family: 'Simplifica', $impFont;
                text-transform: uppercase;
                font-size: 35px;
                color: #E1F9F9;
            }
        }
    }

    hr{
        border: 2px dashed #E1F9F9;
        width: 345px;
        height: 1px;
        min-width: 100px;
        margin: 0 15px;
        border-radius: 5px;
        align-self: center;
    }
}

// outside
.program-banner{
    background-image: url('../images/interest_festival.jpg');
    justify-content: space-evenly;

    .overlay{background-color: rgba(75, 45, 74, 0.65);}
    article{
        z-index: 1;
        text-align: center;
        color: white;

        h4{
            font-size: 40px;
            font-weight: 700;
        }
    }

    a{
        z-index: 1;
        color: white;
        border: 2px solid #E1F9F9;
        padding: 20px 25px; 
        text-decoration: none;
        transition: all ease-in-out 0.3s;
    }

    a:hover{background-color: white; color: black;}
}